<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RemoteTaskManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RemoteTaskManager.Properties.Settings>
            <setting name="default_user_name" serializeAs="String">
                <value />
            </setting>
            <setting name="default_root_pw" serializeAs="String">
                <value />
            </setting>
            <setting name="default_port" serializeAs="String">
                <value />
            </setting>
            <setting name="default_Terminal" serializeAs="String">
                <value />
            </setting>
            <setting name="ask_to_connect" serializeAs="String">
                <value />
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="remote_machines" serializeAs="String">
                <value />
            </setting>
            <setting name="openai_api_key" serializeAs="String">
                <value />
            </setting>
        </RemoteTaskManager.Properties.Settings>
    </userSettings>
</configuration>